/* Profile Card */
.profile-card {
  width: 100%;
  background-color: var(--color-navy-900);
  overflow: hidden;
}

.profile-header {
  width: 100%;
  gap: var(--space-300, 24px);
  background-color: var(--color-purple-600);
  padding: var(--space-400, 32px);
  flex:1
}

.profile-photo {
  --border-radius-standard: 50%;
  height: var(--photo-size, 64px);
  width: var(--photo-size, 64px);
  box-shadow: inset 1 1 10px 10px var(--color-white);
  border: 3px solid var(--color-white);
}

.profile-info {
  gap: var(--space-100, 8px);
}

.report-label {
  color: var(--color-navy-200);
}

.view-selector {
  width: 100%;
  flex:0;
  color: var(--color-purple-500);
}

.view-selector ul {
  height: 100%;
  list-style: none;
  justify-content: center;
  /* gap: clamp(5px, 5px + 15vw, 200px); */
  cursor: pointer;
  text-align: center;
}

.view-selector li:hover {
  color: var(--color-white);
}

/* activity card */

.activity-card {
  width: 100%;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  position: relative;
  padding-top: var(--space-500, 40px);
  background-color: var(--color-white);
}

.activity-card::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 90% -10%;
  top: 0;
  left: 0;
  right: 0;
  height: var(--card-before-height, 64px);
  border-radius: var(--border-radius-standard, 20px) var(--border-radius-standard, 20px) 0 0 !important;
  z-index: 0;
}

.activity-card-wrapper {
  background-color: var(--color-navy-900);
  display: flex;
  flex-direction: column;
  padding: var(--space-300, 24px);
  gap: var(--space-100, 8px);
  z-index: 1;
  position: relative;
}

.activity-card-wrapper:hover {
  background-color: var(--color-navy-800);
  cursor: pointer;
}

.activity-card-header button {
  color: var(--color-navy-200);
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}

.menu-icon {
  width: var(--menu-icon-size, 24px);
  height: var(--menu-icon-size, 24px);
  vertical-align: middle;
  fill: currentColor;
}

.current-hours {
  color: inherit;
}

.previous-hours {
  color: var(--color-navy-200);
}

/* --For window screen-- */
/* @media screen and (min-width: 550px) {

} */

@media screen and (min-width: 1212px) {
  .profile-photo {
    box-shadow: inset 1 1 10px 10px var(--color-white);
    --photo-size: 78px;
  }
}
