@import url("https://fonts.google.com/specimen/Rubik");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* @link https://utopia.fyi/type/calculator?c=321,15,1.2,1200,18,1.333,6,8,1200&s=0.75|0.5|0.4|0.25,1.45|2|2.5|4|10,m-l|3xs-s|m-3xl|4xs-2xs|5xs-2xl&g=s,l,xl,12 */

:root {
  --fluid-min-width: 321;
  --fluid-max-width: 1200;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f--2-min: 10.42;
  --f--2-max: 10.13;
  --font--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );

  --f--1-min: 12.50;
  --f--1-max: 13.50;
  --font--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );

  --f-0-min: 15.00;
  --f-0-max: 18.00;
  --font-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 18.00;/**/
  --f-1-max: 24; /*23.99;*/
  --font-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 21;/*, 21.60*/
  --f-2-max: 32;/*, 31.98*/
  --font-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 26, 25.92;/**/
  --f-3-max: 43;/*, 42.63*/
  --font-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --font-2\/3: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 31;/*, 31.10*/
  --f-4-max: 57;/*, 56.83*/
  --font-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 37;/*37.32;*/
  --f-5-max: 76;/*75.76;*/
  --font-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );

  --f-6-min: 45; /*44.79;*/
  --f-6-max: 101; /*101.59;*/
  --font-6: calc(
    ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) *
      var(--fluid-bp)
  );
}

/* ==============================
   FLUID SPACING
   ============================== */
/* @link https://utopia.fyi/space/calculator?c=321,15,1.2,1200,18,1.333,6,8,1200&s=0.75|0.5|0.4|0.25,1.45|2|2.5|4|10,m-l|3xs-s|m-3xl|4xs-2xs|5xs-2xl&g=s,l,xl,12 */
@media screen and (min-width: 1200px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fc-4xs-min: (var(--fc-s-min) * 0.25); 
  --fc-4xs-max: (var(--fc-s-max) * 0.25);

  --fc-3xs-min: (var(--fc-s-min) * 0.4); 
  --fc-3xs-max: (var(--fc-s-max) * 0.4);

  --fc-2xs-min: (var(--fc-s-min) * 0.5); 
  --fc-2xs-max: (var(--fc-s-max) * 0.5);

  --fc-xs-min: (var(--fc-s-min) * 0.75); 
  --fc-xs-max: (var(--fc-s-max) * 0.75);

  --fc-s-min: (var(--f-0-min, 15)); 
  --fc-s-max: (var(--f-0-max, 18));

  --fc-m-min: (var(--fc-s-min) * 1.45); 
  --fc-m-max: (var(--fc-s-max) * 1.45);

  --fc-l-min: (var(--fc-s-min) * 2); 
  --fc-l-max: (var(--fc-s-max) * 2);

  --fc-xl-min: (var(--fc-s-min) * 2.5); 
  --fc-xl-max: (var(--fc-s-max) * 2.5);

  --fc-2xl-min: (var(--fc-s-min) * 4); 
  --fc-2xl-max: (var(--fc-s-max) * 4);

  --fc-3xl-min: (var(--fc-s-min) * 10); 
  --fc-3xl-max: (var(--fc-s-max) * 10);

  /* T-shirt sizes */
  --space-4xs: calc(((var(--fc-4xs-min) / 16) * 1rem) + (var(--fc-4xs-max) - var(--fc-4xs-min)) * var(--fluid-bp));
  --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
  --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
  
  /* One-up pairs */
  --space-4xs-3xs: calc(((var(--fc-4xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-4xs-min)) * var(--fluid-bp));
  --space-3xs-2xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));

  /* Custom pairs */
  --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-3xs-s: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-m-3xl: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-4xs-2xs: calc(((var(--fc-4xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-4xs-min)) * var(--fluid-bp));
  --space-undefined: calc(((var(--fc-undefined-min) / 16) * 1rem) + (var(--fc-undefined-max) - var(--fc-undefined-min)) * var(--fluid-bp));
}

/* ==============================
   DESIGN TOKENS (from Figma)
   ============================== */

:root {
  /* ---------- COLORS ---------- */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink-400: #ff5e7d;
  --color-orange-300: #ff8b64;
  --color-yellow-300: #f1c75b;
  --color-green-400: #4bcf82;
  --color-grey-200: #d8d8d8;
  --color-navy-200: #bbc0ff;
  --color-navy-800: #33397a;
  --color-navy-900: #1c204b;
  --color-navy-950: #0e1323;
  --color-blue-300: #55c2e6;
  --color-purple-500: #7078c9;
  --color-purple-600: #5747ea;
  --color-purple-700: #7335d2;

  /* ---------- TYPOGRAPHY ---------- */
  --font-family-rubik: "Rubik", sans-serif;

  --line-height-small-font: 1.2;
  --line-height-medium-font: 1.18;
  --line-height-large-font: 1.16;


  /* Presets */
  --text-xl-font-size: var(--font-6, 50px);
  --text-xl-line-height: var(--line-height-large-font);
  --text-lg-font-size: var(--font-5, 40px);
  --text-lg-line-height: var(--line-height-large-font);
  --text-md-font-size: var(--font-4, 32px);
  --text-md-line-height: var(--line-height-medium-font);
  --text-base-font-size: var(--font-2\/3, 24px);
  --text-base-line-height: var(--line-height-medium-font);
  --text-sm-font-size: var(--font-1, 18px);
  --text-sm-line-height: var(--line-height-small-font);
  --text-xs-font-size: var(--font-0, 15px);
  --text-xs-line-height: var(--line-height-small-font);

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* ---------- SPACING ---------- */
  --space-0: 0;
  --space-100: var(--space-2xs, 8px);
  --space-200: var(--space-s, 16px);
  --space-300: var(--space-m, 24px);
  --space-300-400: var(--space-m-l, 32px);
  --space-400: var(--space-l, 32px);
  --space-500: var(--space-xl, 40px);
}

:root{
  --threshold: 15rem; /* 240px */
  --photo-size: var(--font-6);
  --activity-image-size: 4rem;
  --menu-icon-size: var(--space-m);
  --activity-background-size: 2.18rem;
  --border-radius-standard: var(--font-0);
  --activity-icon-size: var(--space-2xl);
  --gutter: var(--space-300);
  --min-grid-item-size: 11.5rem;
  --limit-point: calc(4 * var(--min-grid-item-size) + 2 * var(--gutter));
  --collapse-point:70%;
}


html, body{
    width: 100%;
    height: 100%;
    font-family: var(--font-family-rubik);
    letter-spacing: 0rem;
}

body{
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-navy-950);
    color: var(--color-white);
}

h6{
  font-size: var(--font--2);
  line-height: var(--line-height-small-font);
}

h5{
  font-size: var(--font--1);
  line-height: var(--line-height-small-font);
}

p {
  font-size: var(--font-0);
  line-height: var(--line-height-small-font);
}

h4{
  font-size: var(--font-1);
  line-height: var(--line-height-medium-font);
}

h3{
  font-size: var(--font-2);
  line-height: var(--line-height-medium-font);
}

h2{
  font-size: var(--font-3);
  line-height: var(--line-height-large-font);
}

h1{
  font-size: var(--font-4);
  line-height: var(--line-height-large-font);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}
