*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**fluid type setup */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1500,18,1.333,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1500;

  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1500px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --f-0-min: 14.00;
  --f-0-max: 18.00;
  --font-size-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );

  --f-1-min: 15.00;
  --f-1-max: 23.00;
  --font-size-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );

  --f-2-min: 23.04;
  --f-2-max: 31.98;
  --font-size-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );

  --f-3-min: 23;
  --f-3-max: 45;
  --font-size-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );

  --f-4-min: 30;
  --f-4-max: 56.83;
  --font-size-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );

  --f-5-min: 39.81;
  --f-5-max: 75.76;
  --font-size-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );

  --f-6-min: 47.78;
  --f-6-max: 100.98;
  --font-size-6: calc(
    ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) *
      var(--fluid-bp)
  );
}

/* ==============================
   DESIGN TOKENS (from Figma)
   ============================== */

:root {
  /* ---------- COLORS ---------- */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink-400: #ff5e7d;
  --color-orange-300: #ff8b64;
  --color-yellow-300: #f1c75b;
  --color-green-400: #4bcf82;
  --color-grey-200: #d8d8d8;
  --color-navy-200: #bbc0ff;
  --color-navy-800: #33397a;
  --color-navy-900: #1c204b;
  --color-navy-950: #0e1323;
  --color-blue-300: #55c2e6;
  --color-purple-500: #7078c9;
  --color-purple-600: #5747ea;
  --color-purple-700: #7335d2;

  /* ---------- TYPOGRAPHY ---------- */
  --font-family-rubik: "Rubik", sans-serif;

  /* Presets */
  --text-xl-font-size: var(--font-size-5, 50px);
  --text-xl-line-height: calc(var(--font-size-5) + (10px*var(--fluid-bp)));
  --text-lg-font-size: var(--font-size-4, 40px);
  --text-lg-line-height: calc(var(--font-size-4) + (7px*var(--fluid-bp)));
  --text-md-font-size: var(--font-size-3, 32px);
  --text-md-line-height: calc(var(--font-size-3) + (6px*var(--fluid-bp)));
  --text-base-font-size: var(--font-size-2, 24px);
  --text-base-line-height: calc(var(--font-size-2) + (4px*var(--fluid-bp)));
  --text-sm-font-size: var(--font-size-1, 18px);
  --text-sm-line-height: calc(var(--font-size-1) + (3px*var(--fluid-bp)));
  --text-xs-font-size: var(--font-size-0, 15px);
  --text-xs-line-height: calc(var(--font-size-0) + (3px*var(--fluid-bp)));;

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* ---------- SPACING ---------- */
  --space-0: 0;
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;

  /* ---------- GRID ---------- */
  /* Desktop Grid */
  --grid-desktop-columns: 12;
  --grid-desktop-gutter: 20px;
  --grid-desktop-offset: 100px;

  /* Tablet Grid */
  --grid-tablet-columns: 8;
  --grid-tablet-gutter: 12px;
  --grid-tablet-offset: 80px;

  /* Mobile Grid */
  --grid-mobile-columns: 4;
  --grid-mobile-gutter: 16px;
  --grid-mobile-offset: 32px;
}

:root{
  --photo-size: 64px;
  --photo-size-large: 78px;
  --activity-image-size: 64px;
  --menu-icon-size: 24px;
  --activity-background-size: 45px;
  --border-radius-standard: 15px;
  --card-before-height: 64px;
}


html, body{
    width: 100%;
    height: 100%;
}

body{
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: var(--space-300);
    background-color: var(--color-navy-950);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}